
TestADB/TestADB/.vs/TestADB/v15/sqlite3/db.lock
TestADB/TestADB/.vs/TestADB/v15/sqlite3/db.lock
TestADB/TestADB/.vs/TestADB/v15/sqlite3/storage.ide
TestADB/TestADB/.vs/slnx.sqlite
TestADB/TestADB/GroupControlModel/obj/Debug/GroupControl.Model.csprojResolveAssemblyReference.cache
TestADB/TestADB/.vs/ProjectSettings.json
*.json
*.json
TestADB/TestADB/.vs/TestADB/v14/.suo
TestADB/TestADB/.vs/TestADB/v14/.suo
