<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=115.28.221.4,52433;Initial Catalog=GroupControl;MultipleActiveResultSets=True;user id=hcmsuser;Password=hcmsuser123$;Pooling=true;Max Pool Size=1000;Min Pool Size=0;Application Name=GC;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="HandSendFriendFileUrl" value="e:\weixin\friendcircle\temp"/>
    <add key="AutoSendFriendFileUrl" value="e:\weixin\friendcircle"/>
    <add key="ADBExeFileUrl" value="E:\夜游神\Nox\bin\adb.exe"/>
    <!--<add key="ADBExeFileUrl" value="c:\adb\adb.exe"/>-->
    <add key="CutImageFileUrl" value="e:\CutImage\"/>
    <add key="ContractsFileUrl" value="e:\Contracts\"/>
  </appSettings>
</configuration>